<!DOCTYPE html>
<html lang="en" class="background_personal_profile">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/git/pages/styles/style_personal_profile.css">
    <link rel="stylesheet" href="~/git/pages/styles/style_searching_results.css">
    <link rel="stylesheet" href="~/git//for_js_scripts/css_for_js/modal_search.css">
    <link rel="stylesheet" href="~/git//for_js_scripts/css_for_js/modal_categories.css">
    <link rel="icon" href="~/git/pages/images/farmfood_logo.svg" type="image/x-icon">
    <title>Результаты поиска</title>
</head>
<body style="position: absolute;">
    <div class="init_app_navigation" style="left: 162px;">
        <div id="website_name" onclick="location.href='/'">Farmfood</div>
        <div class="panel_app_navigation">
            <img src="~/git/pages/images/magnifier.png">
            <input type="button" value="Поиск" id="search">
            <input type="button" value="Каталог" id="categories">
            <input type="button" value="Корзина" onclick="location.href='/ShopCart/'">
            <input type="button" value="Личный кабинет" onclick="location.href='/Account/PersonalProfile'">
        </div>
        <input id="last_button" type="button" value="Разместить объявление" onclick="location.href='/Products/NewAdvertisementCategory'">
    </div>
    <div class="main_panel">
        <div class="general_search_information">
            <p>@Model.currentCategory</p>
        </div>
        <div class="search_results">    
                @{
                    foreach (Product product in Model.AllProducts){
                        <div class="product">
                            <div>
                                <img src="@product.img" onclick="location.href='/Products/ProductInformation/@product.id'">
                            </div>
                            <div class="product_info">
                                <p>@product.name</p>
                                <p>Кол-во: @product.quantity @product.unitOfMeasure</p>
                                <p>@product.price.ToString("c")/@product.unitOfMeasure</p>
                                <input type="button" value="Добавить в корзину" onclick="location.href='/ShopCart/redirectToCart/@product.id'">
                            </div>
                        </div>
                    }
                }
        </div>
    </div>
    <script>
        for (let product_name of document.querySelectorAll('.product_info p:nth-child(1)')) {
            if (product_name.innerHTML.length > 22) {
                product_name.innerHTML = product_name.innerHTML.slice(0, 22) + '...';
            }
        }
        for (let btn_add of document.querySelectorAll('.search_results input')) {
            btn_add.addEventListener('click', (e) => {
                e.target.value = 'Перейти в корзину'
            })
        }
    </script>
    <script src="~/git/for_js_scripts/modal.js"></script>
    <script src="~/git/for_js_scripts/create_modal_windows.js"></script>
</body>
</html>