<!DOCTYPE html>
<html lang="en" class="background_personal_profile">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/git/pages/styles/style_personal_profile.css">
    <link rel="stylesheet" href="~/git/for_js_scripts/css_for_js/modal_search.css">
    <link rel="stylesheet" href="~/git/for_js_scripts/css_for_js/modal_categories.css">
    <link rel="icon" href="~/git/pages//images/farmfood_logo.svg" type="image/x-icon">
    <title>Личный кабинет</title>
</head>
<body style="position: absolute;">
    <!--Начало панели навигации (css в style_personal_profile.css)-->
    <div class="init_app_navigation" style="left: 80px;">
        <div id="website_name" onclick="location.href='/'">Farmfood</div>
        <div class="panel_app_navigation">
            <img src="~/git/pages/images/magnifier.png">
            <input type="button" value="Поиск" id="search">
            <input type="button" value="Каталог" id="categories">
            <input type="button" value="Корзина" onclick="location.href='/ShopCart'">
            <input type="button" value="Личный кабинет" onclick="location.href='/Account/PersonalProfile'">
        </div>
        <input id="last_button" type="button" value="Разместить объявление" onclick="location.href='/Products/NewAdvertisementCategory'">
    </div>
    <!--Конец панели навигации-->
    <div class="profile">
        <img src="~/git/pages/images/background_profile.jpg">
        <div class="profile_base_info">
            <img src="~/git/pages/images/avatar.png">
            <div class="link_to_user">
                <a href="https://wa.me/@Model.WhatsApp"><img src="~/git/pages/images/whatsapp_icon.svg"></a>
                <a href="@Model.VKontakte"><img src="~/git/pages/images/vk_icon.svg"></a>
                <a href="@Model.Telegram"><img src="~/git/pages/images/telegram_icon.svg"></a>
            </div>
            <div>@Model.LastName @Model.FirstName</div>
            <input type="button" value="Редактировать" onclick="location.href='/Account/EditingProfile'">
        </div>
    </div>
    <div class="personal_data">
        <div class="personal_data_block">
            <h2>Личные данные</h2>
            <p>Фамилия Имя</p>
            <p>@Model.LastName @Model.FirstName</p>
            <p>Место проживания</p>
            <p>@Model.CityOfResidence</p>
        </div>
        <div class="personal_data_block">
            <h2>Учетная запись</h2>
            <p>Эл. почта</p>
            <p>@Model.Email</p>
            <p>Номер телефона</p>
            <p>@Model.PhoneNumber</p>
        </div>
        <div>
            <input class="profile_button_panel" type="button" value="">
            <img src="~/git/pages/images/cart.svg" class="profile_image_panel" onclick="location.href='/ShopCart'">
            <p class="description_profile_button_panel">Корзина</p>
            <input class="profile_button_panel" type="button" value="">
            <img src="~/git/pages/images/ads.svg" class="profile_image_panel" onclick="location.href='/Products/AllMyAdvertisements'">
            <p class="description_profile_button_panel" style="left: -10px;">Мои объявления</p>
        </div>
    </div>
    <script src="~/git/for_js_scripts/modal.js"></script>
    <script src="~/git/for_js_scripts/create_modal_windows.js"></script>
</body>
</html>
